<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interapi.app.modular.dao.QueryCriteriaItemTabMapper">
  <resultMap id="BaseResultMap" type="com.interapi.app.modular.model.QueryCriteriaItemTab">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MODULAR_ID" jdbcType="BIGINT" property="modularId" />
    <result column="FIELD_ID" jdbcType="BIGINT" property="fieldId" />
    <result column="CONNECTOR_NAME" jdbcType="VARCHAR" property="connectorName" />
    <result column="COMPARISON_RULE" jdbcType="VARCHAR" property="comparisonRule" />
    <result column="DATA_TYPE" jdbcType="INTEGER" property="dataType" />
    <result column="PROP" jdbcType="VARCHAR" property="prop" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="IS_DELETE" jdbcType="VARCHAR" property="isDelete" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="BIGINT" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="BIGINT" property="updateUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MODULAR_ID, FIELD_ID, CONNECTOR_NAME, COMPARISON_RULE, DATA_TYPE, PROP, LABEL, 
    IS_DELETE, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>
  <select id="selectByExample" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTabExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from query_criteria_item_tab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from query_criteria_item_tab
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from query_criteria_item_tab
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTabExample">
    delete from query_criteria_item_tab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTab">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into query_criteria_item_tab (MODULAR_ID, FIELD_ID, CONNECTOR_NAME, 
      COMPARISON_RULE, DATA_TYPE, PROP, 
      LABEL, IS_DELETE, CREATE_TIME, 
      CREATE_USER, UPDATE_TIME, UPDATE_USER
      )
    values (#{modularId,jdbcType=BIGINT}, #{fieldId,jdbcType=BIGINT}, #{connectorName,jdbcType=VARCHAR}, 
      #{comparisonRule,jdbcType=VARCHAR}, #{dataType,jdbcType=INTEGER}, #{prop,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTab">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into query_criteria_item_tab
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modularId != null">
        MODULAR_ID,
      </if>
      <if test="fieldId != null">
        FIELD_ID,
      </if>
      <if test="connectorName != null">
        CONNECTOR_NAME,
      </if>
      <if test="comparisonRule != null">
        COMPARISON_RULE,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="prop != null">
        PROP,
      </if>
      <if test="label != null">
        LABEL,
      </if>
      <if test="isDelete != null">
        IS_DELETE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modularId != null">
        #{modularId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="connectorName != null">
        #{connectorName,jdbcType=VARCHAR},
      </if>
      <if test="comparisonRule != null">
        #{comparisonRule,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="prop != null">
        #{prop,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTabExample" resultType="java.lang.Long">
    select count(*) from query_criteria_item_tab
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update query_criteria_item_tab
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.modularId != null">
        MODULAR_ID = #{record.modularId,jdbcType=BIGINT},
      </if>
      <if test="record.fieldId != null">
        FIELD_ID = #{record.fieldId,jdbcType=BIGINT},
      </if>
      <if test="record.connectorName != null">
        CONNECTOR_NAME = #{record.connectorName,jdbcType=VARCHAR},
      </if>
      <if test="record.comparisonRule != null">
        COMPARISON_RULE = #{record.comparisonRule,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null">
        DATA_TYPE = #{record.dataType,jdbcType=INTEGER},
      </if>
      <if test="record.prop != null">
        PROP = #{record.prop,jdbcType=VARCHAR},
      </if>
      <if test="record.label != null">
        LABEL = #{record.label,jdbcType=VARCHAR},
      </if>
      <if test="record.isDelete != null">
        IS_DELETE = #{record.isDelete,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUser != null">
        CREATE_USER = #{record.createUser,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        UPDATE_USER = #{record.updateUser,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update query_criteria_item_tab
    set ID = #{record.id,jdbcType=BIGINT},
      MODULAR_ID = #{record.modularId,jdbcType=BIGINT},
      FIELD_ID = #{record.fieldId,jdbcType=BIGINT},
      CONNECTOR_NAME = #{record.connectorName,jdbcType=VARCHAR},
      COMPARISON_RULE = #{record.comparisonRule,jdbcType=VARCHAR},
      DATA_TYPE = #{record.dataType,jdbcType=INTEGER},
      PROP = #{record.prop,jdbcType=VARCHAR},
      LABEL = #{record.label,jdbcType=VARCHAR},
      IS_DELETE = #{record.isDelete,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{record.createUser,jdbcType=BIGINT},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{record.updateUser,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTab">
    update query_criteria_item_tab
    <set>
      <if test="modularId != null">
        MODULAR_ID = #{modularId,jdbcType=BIGINT},
      </if>
      <if test="fieldId != null">
        FIELD_ID = #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="connectorName != null">
        CONNECTOR_NAME = #{connectorName,jdbcType=VARCHAR},
      </if>
      <if test="comparisonRule != null">
        COMPARISON_RULE = #{comparisonRule,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="prop != null">
        PROP = #{prop,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        LABEL = #{label,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        IS_DELETE = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.interapi.app.modular.model.QueryCriteriaItemTab">
    update query_criteria_item_tab
    set MODULAR_ID = #{modularId,jdbcType=BIGINT},
      FIELD_ID = #{fieldId,jdbcType=BIGINT},
      CONNECTOR_NAME = #{connectorName,jdbcType=VARCHAR},
      COMPARISON_RULE = #{comparisonRule,jdbcType=VARCHAR},
      DATA_TYPE = #{dataType,jdbcType=INTEGER},
      PROP = #{prop,jdbcType=VARCHAR},
      LABEL = #{label,jdbcType=VARCHAR},
      IS_DELETE = #{isDelete,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=BIGINT},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>