[data-option-type="ASC"] {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid #000000;
  border-right: 4px solid transparent;
  border-top: 0 dotted;
  border-left: 4px solid transparent;
  margin-bottom: 0px;
}
.active_option[data-option-type="ASC"]{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid #FF8C00;
  border-right: 4px solid transparent;
  border-top: 0 dotted;
  border-left: 4px solid transparent;
  margin-bottom: 0px;
}
[data-option-type="DESC"]{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  margin-bottom: 0px;
}
.active_option[data-option-type="DESC"]{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #FF8C00;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  margin-bottom: 0px;
}