<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.pageprocessnodemap.dao.PageProcessnodeMapMapper">
  <resultMap id="BaseResultMap" type="com.company.pageprocessnodemap.model.PageProcessnodeMap">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="PAGEVALUE" jdbcType="VARCHAR" property="pagevalue" />
    <result column="PROCESSNODE" jdbcType="VARCHAR" property="processnode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PAGEVALUE, PROCESSNODE
  </sql>
  <select id="selectByExample" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from pageprocessnodemap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pageprocessnodemap
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from pageprocessnodemap
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMapExample">
    delete from pageprocessnodemap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMap">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select replace(uuid(),'-','') as uuid
    </selectKey>
    insert into pageprocessnodemap (ID, PAGEVALUE, PROCESSNODE
      )
    values (#{id,jdbcType=VARCHAR}, #{pagevalue,jdbcType=VARCHAR}, #{processnode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMap">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">
      select replace(uuid(),'-','') as uuid
    </selectKey>
    insert into pageprocessnodemap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="pagevalue != null">
        PAGEVALUE,
      </if>
      <if test="processnode != null">
        PROCESSNODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=VARCHAR},
      <if test="pagevalue != null">
        #{pagevalue,jdbcType=VARCHAR},
      </if>
      <if test="processnode != null">
        #{processnode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMapExample" resultType="java.lang.Long">
    select count(*) from pageprocessnodemap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pageprocessnodemap
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.pagevalue != null">
        PAGEVALUE = #{record.pagevalue,jdbcType=VARCHAR},
      </if>
      <if test="record.processnode != null">
        PROCESSNODE = #{record.processnode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pageprocessnodemap
    set ID = #{record.id,jdbcType=VARCHAR},
      PAGEVALUE = #{record.pagevalue,jdbcType=VARCHAR},
      PROCESSNODE = #{record.processnode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMap">
    update pageprocessnodemap
    <set>
      <if test="pagevalue != null">
        PAGEVALUE = #{pagevalue,jdbcType=VARCHAR},
      </if>
      <if test="processnode != null">
        PROCESSNODE = #{processnode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.company.pageprocessnodemap.model.PageProcessnodeMap">
    update pageprocessnodemap
    set PAGEVALUE = #{pagevalue,jdbcType=VARCHAR},
      PROCESSNODE = #{processnode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>